# Hugo build output
/public/
/resources/_gen/
/hugo_stats.json

# Hugo cache
/.hugo_build.lock

# OS junk
.DS_Store
Thumbs.db

# Node / tooling (if using PostCSS, Tailwind, etc.)
node_modules/
package-lock.json
npm-debug.log*

# Go module cache (if using Hugo modules)
/go.sum
/go.mod

# Ignore all theme exampleSite folders
themes/*/exampleSite/**

# Ignore temporary editor files
*.swp
*.swo
*~
*.log
*.pid
